<div class="benefit-column">
    <div class="benefit-title"> Become a Global Investor
    </div>
    <div class="benefits">

        <div class="benefit">
            <i class="fas fa-fingerprint fa-5x benefit-item benefit-icon"></i>
            <div class="benefit-subtitle">
                Immutable Identity
            </div>
            <div class="benefit-item">
                KYC/AML
                Accredited Investor
                Your globaliD is your on-chain, decentralized and immutable identification.

            </div>
        </div>
        <div class="benefit">
            <i class="fas fa-user-check fa-5x benefit-item benefit-icon"></i>
            <div class="benefit-subtitle benefit-item">
                KYC/AML
            </div>
            <div class="benefit-item">
                Your valid KYC/AML attestation is portable and globally accepted.
            </div>
        </div>

    </div>
    <div class="benefit last-benefit">
        <i class="fas fa-money-bill-wave fa-5x benefit-item benefit-icon"></i>
        <div class="benefit-subtitle benefit-item">
            Accredited Investor
        </div>
        <div class="benefit-item">
            Investor accreditation will facilitate trading in multiple jurisdictions.
        </div>
    </div>
    <button class="get-global-id"> Get Your Free Global Investor ID </button>

</div>