<div>
    <div class="linqto-footer">
        <p> TERMS OF USE </p>
        <p> PRIVACY </p>
        <p> INVESTMENT PLATFORM RULES </p>
        <p> CONTACT US </p>
    </div>
    <div class="copyright-footer"> © 2020 Linqto. Inc. All rights Reserved</div>
</div>