<div class="gateway">
    <a class="gate-link" href="">Log in</a>
    <a class="gate-link sign-up" href=""> Sign up</a>
    <a href=""> <i class="fa fa-search search-icon" aria-hidden="true"></i></a>
</div>