<div class="get-the-app">
    <div class="get-the-app-title">
        Get the App
    </div>
    <div class="app-stores">
        <img class="app-store" src="images/app_store.png" alt="">
        <img class="app-store" src="images/google_play.png" alt="">
    </div>

</div>