<div class="intro">
    <div class="intro-title">
        Trade easily and globally
    </div>
    <div class="intro-content">
        <i class="fas fa-globe-americas fa-7x"></i>
        <div>
            <strong> Global at our core</strong>
        </div>
        <div>
            Join private investors across 26 countries and
        </div>
        <div>
            4 continents who are already using <strong> LINQTO. </strong>
        </div>
        <div class="intro-item live"> LIVE UPDATES </div>
        <div class="intro-item notify"> Notify me immediately when a new offering is listed ... </div>
        <input class="intro-item input-email" placeholder="email" type="" name="" id="">
        <button class="intro-item subscribe"> SUBSCRIBE </button>

    </div>

</div>