<div class="pop-pick-container">
    <div class="pop-pick-title"> Popular Picks </div>
    <div class="pop-picks">
        <img class="pop-pick" src="images/blockchaincoinvesters_logo.jpg" alt="">
        <img class="pop-pick" src="images/coinbase.jpg" alt="">
        <img class="pop-pick" src="images/joule-logo.jpg" alt="">
        <img class="pop-pick" src="images/lenderwize-logo.jpg" alt="">
        <img class="pop-pick" src="images/linqto-logo.jpg" alt="">
        <img class="pop-pick" src="images/ripple-logo.jpg" alt="">
        <img class="pop-pick" src="images/robin-hood-logo.jpg" alt="">
    </div>

</div>