<div class="slogan">
    <div class="slogan-item">
        private
    </div>
    <div class="slogan-item">
        investing
    </div>
    <div class="slogan-item">
        made
    </div>
    <div class="slogan-item">
        simple
    </div>
</div>