{{!-- The following component displays Ember's default welcome message.
--}}

<div class="header">
    <Navigation />
    <Gateway />
</div>
<Slogan />
<div class="info-content">
    <Intro />
    <Benefits />
</div>
<Poppicks />
<Gettheapp />
<Footer />

{{outlet}}